# Ignore everything in root
/*
/*/

# Git
!.gitignore
!.gitignore_global

# Windows Terminal
!AppData/
AppData/*
!AppData/Local/
AppData/Local/*
!AppData/Local/Packages/
AppData/Local/Packages/*
!AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/
AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/*
!AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/
AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/*
!AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json

# Windows Subsystem for Linux
!.wslconfig

# PowerShell
!Documents/
Documents/*
!Documents/WindowsPowerShell/

# IntelliJ
!.ideavimrc